POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
BACKEND_PORT=
USE_SUPABASE=false
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MQTT_HOST=hivemq
MQTT_PORT=1883
N8N_WEBHOOK_URL=